.well.product {
  text-align: center;
  transition: all 0.2s ease;

  h3 {
    margin: 0 0 15px 0;
    font-size: 150%;
  }

  a.product-image {
    margin-bottom: 25px;
    display: inline-block;
    img {
      border: 1px solid silver;
      padding: 5px;
      background-color: #fff
    }
  }

  p.product-price {
    margin-bottom: 25px;
    span {
      font-size: 130%;
      font-weight: bold;
    }
  }

  &:hover {    
    /*-webkit-transform: rotate(3deg) translate(5px, 5px);*/
    -webkit-transform: scale(1.03);
  }
}
