.well.product {
  text-align: center;
  h3 {
    margin: 0 0 15px 0;
    font-size: 150%;
  }

  a.product-image {
    margin-bottom: 25px;
    display: inline-block;
    img {
      border: 1px solid silver;
      padding: 5px;
      background-color: #fff
    }
  }

  p.product-price {
    margin-bottom: 25px;
    span {
      font-size: 130%;
      font-weight: bold;
    }
  }
}